#bubbles {
    height: 65%;
  }
  
  .bubble {
    width: 60px;
    height: 60px;
    background: #65C7F7;
    border-radius: 200px;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;
    position: absolute;
  }
  
  .x1 {
    left: 50%;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.2;
    animation: moveclouds 5s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -webkit-animation: moveclouds 5s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: moveclouds 5s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -o-animation: moveclouds 5s linear infinite, sideWays 4s ease-in-out infinite alternate;
  }
  
  .x2 {
    left: 80%;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0.5;
    animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
    -webkit-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
    -moz-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
    -o-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
  }
  
  .x3 {
    left: 60%;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.3;
    animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -webkit-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -o-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
  }
  
  .x4 {
    left: 40%px;
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    transform: scale(0.75);
    opacity: 0.35;
    animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -webkit-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -o-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
  }
  
  .x5 {
    left: 20%;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.3;
    animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
    -webkit-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
    -moz-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
    -o-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
  }
  
  .x6 {
    left: 55%;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.3;
    animation: moveclouds 4s linear infinite, sideWays 3s ease-in-out infinite alternate;
    -webkit-animation: moveclouds 4s linear infinite, sideWays 3s ease-in-out infinite alternate;
    -moz-animation: moveclouds 4s linear infinite, sideWays 3s ease-in-out infinite alternate;
    -o-animation: moveclouds 4s linear infinite, sideWays 3s ease-in-out infinite alternate;
  }
  
  .x7 {
    left: 24%;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.3;
    animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
    -webkit-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
    -moz-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
    -o-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
  }
  
  .x8 {
    left: 90%;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.3;
    animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
    -webkit-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
    -moz-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
    -o-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
  }
  
  .x9 {
    left: 75%;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.3;
    animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
    -webkit-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
    -moz-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
    -o-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
  }
  
  .x10 {
    left: 46%;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.3;
    animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
    -webkit-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
    -moz-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
    -o-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
  }
  
  
  @keyframes moveclouds {
    0% {
      bottom: 0px;
    }
    100% {
      bottom: 100%;
    }
  }
  
  @keyframes sideWays {
    0% {
      margin-left: 0px;
    }
    100% {
      margin-left: 50px;
    }
  }
  
  @-webkit-keyframes moveclouds {
    0% {
      bottom: 0px;
    }
    100% {
      bottom: 100%;
    }
  }
  
  @-webkit-keyframes sideWays {
    0% {
      margin-left: 0px;
    }
    100% {
      margin-left: 50px;
    }
  }
  
  @-moz-keyframes moveclouds {
    0% {
      bottom: 0px;
    }
    100% {
      bottom: 100%;
    }
  }
  
  @-moz-keyframes sideWays {
    0% {
      margin-left: 0px;
    }
    100% {
      margin-left: 50px;
    }
  }
  
  @-o-keyframes moveclouds {
    0% {
      bottom: 0px;
    }
    100% {
      bottom: 100%;
    }
  }
  
  @-o-keyframes sideWays {
    0% {
      margin-left: 0px;
    }
    100% {
      margin-left: 50px;
    }
  }
  