.back-video {
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0;
    opacity: 1;
    object-fit: cover;
    z-index: -10;
}

@media (max-aspect-ratio: 16/9) {
    .back-video {
        width: 100%;
        height: 100%;
    }
}